PORT=3000
NODE_ENV=development
DATABASE_URL=./data/mini-dokploy.db
TRAEFIK_NETWORK=mini-dokploy-net
SSIP_HOST_SUFFIX=127.0.0.1.sslip.io
DOCKER_SOCKET=/var/run/docker.sock
SESSION_SECRET=mini-dokploy-super-secret-key-change-in-production
WS_PORT=3001
